name: RunnerV1

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  dagger:
    name: Run Dagger Pipeline
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Test
        uses: dagger/dagger-for-github@v8.2.0
        with:
          module: .
          call: test
          version: latest

      - name: Run Dagger Pipeline
        uses: dagger/dagger-for-github@v8.2.0
        with:
          module: .
          call: download -o ./model.pkl
          version: latest

      - name: Upload Model Artifact
        uses: actions/upload-artifact@v4
        with:
          name: model
          path: ./model.pkl

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          # Action below has missing dependencies, when xgboost is chosen to be the best performing model
          pip install xgboost scikit-learn numpy pandas

      - name: Run Model Inference Test Action
        uses: lasselundstenjensen/itu-sdse-project-model-validator@main
