name: Runner

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  dagger:
    name: Run Dagger Pipeline
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Dagger Pipeline
        uses: dagger/dagger-for-github@v8.2.0
        with:
          module: .
          call: download
          version: latest
