name: Run Dagger Pipeline

on:
  push:
    branches:
      - main
jobs:
  dagger:
    name: Run Dagger Pipeline
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.4
          cache: false
      - name: Run Dagger Pipeline
        uses: dagger/dagger-for-github@v8.2.0
        with:
          module: dagger/ml-pipeline
          call: download
          version: latest
